<%- include('./partials/header.ejs') %> 
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">List-a-do</a>
    </div>
  </nav>


  <div class="container mt-5 ">
      <form action="/" method="post" class="d-flex">
          <input type="text" name ="addtodo" placeholder="Add a todo" class="form-control">
        <button type="submit" class="btn btn-md btn-primary mx-2">+</button>
        </form>

        
        <ul class="list-group mt-5">
           <% getTodos.forEach(todo => {%>
            <div class=" container d-flex justify-content-center mt-3">  
              <li class="list-group-item"> <%= todo.todo %></li>
              <form action="/<%=todo._id%>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-sm btn-danger mx-2" > - </button>
              </form>
            </div>
          </ul>
           <% }); %> 


         
  </div>




<%- include('./partials/footer.ejs') %> 